*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Verdana, Tahoma, sans-serif;
}
h1{
    margin-top:100px;
    text-align:center;
    margin-bottom:50px;
    color: rgb(235, 237, 237);
}
.wrap {
    display:flex;
    flex-direction: row;
    align-items:left;
    padding:100px;
}
.guinness{
    align-items:left;
    margin-left:100px;
}
.fireworks{
    align-items: right;
    margin-right:100px
}
body{
    background: url('stars.jpg');
    background-position: right;
    background-size:600px 1000px;
    background-repeat:repeat;
    display:flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    height:fit-content;
    flex-direction:column;
    color:rgb(206, 206, 206);
}

form input{
    box-sizing: border-box;
    border:none;
    background-color:rgba(200, 203, 203, 0.7);
    flex-grow:1;
    min-width:0;
    height:20px;
    width: 600px;
    padding:20px;
    border-radius:  40px 100px 100px 40px;
    font-size: 2rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    margin-top:20px;
}
form {
    margin-top:40px;
    display:flex;
    flex-direction: column;
    gap:10px;
    color:#323232;
}
form div{
    background-color: rgb(148, 151, 151);
    padding: 20px 30px;
    border-radius:40px;
    margin-bottom:40px;
}
.addMemberBtn{
    display:flex;
    padding:5px 10px;
}
.submitbtn{
    padding: 20px 40px;
    font-size:2rem;
    width:400px;
    margin-left:20%;
    border-radius:30px;
    background-color: rgb(201, 208, 208);
    margin-bottom:100px;
}
.nameexpand.collapse, .memberexpand.collapse, .descriptionexpand.collapse, .amountexpand.collapse, .payoutexpand.collapse, .sdateexpand.collapse,.edateexpand.collapse {
    padding-top:10px;
    max-height:80px;
    overflow:hidden;
    transition: 0.4s ease;

}
.nameexpand, .memberexpand, .descriptionexpand, .amountexpand, .payoutexpand, .sdateexpand,.edateexpand {
    max-height:fit-content;
    overflow:hidden;
    transition: 0.4s ease;
}
.submitbtn:hover, .nameexpand:hover, .memberexpand:hover, .descriptionexpand:hover, .amountexpand:hover, .payoutexpand:hover, .sdateexpand:hover,.edateexpand:hover {
    transform:translateY(-5px);
}