*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.body1{
    min-height:100vh;
    background: url('lion1.jpg');
    background-size:cover;
    overflow: hidden;
    background-position: right;
    background-size:contain;
    background-repeat: no-repeat;
}
.wrapper {
    height:fit-content;
    display:flex;
    background-color: rgb(235, 241, 242);
    flex-direction:column;
    border-radius: 0 20px 20px 0;
    align-items: center;
    justify-content: center;
    max-width: max(52%,600px);
    min-height:100vh;
    text-align: center;
}
.wrapper h1{
    font-size: 3rem;
}
form{
    margin-top:40px;
    margin-bottom:50px;
    display:flex;
    flex-direction: column;
    gap:10px;
}
form label{
    flex-shrink:0;
    height:50px;
    width:50px;
}
form input{
    box-sizing: border-box;
    border:none;
    background-color:#e9f0f1b3;
    flex-grow:1;
    min-width:0;
    height:20px;
    width: 400px;
    padding:20px;
    border-radius:  60px 100px 100px 60px;
    font-size: 2rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    margin-bottom:20px;
}
form button{
    margin-top:10px;
    border:none;
    font-size:1.4rem ;
    border-radius:15px;
    padding: 10px;
    background: hwb(187 91% 5% / 0.702);
    cursor:pointer;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    transition:150ms ease;
    text-transform: uppercase;
}
p {
    margin-top:10px;
    font-size:1.2rem;
}
form input:hover {
    border-color: #b9c4c7cb
}
form:focus {
    outline:none;
    border-color:black;
}
@media(max-width:1100px){
    .wrapper {
        width: min(600px,100%);
    }
}
#error-message{
    color:red
}